<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do List</title>
</head>
<body ng-app="todoApp">
  <div ng-controller="ListController as vm">
    <h1>{{ vm.list.name }}</h1>

    <!-- add task -->

    <button ng-click="vm.startAdd()" ng-show="!vm.isInAddMode()">Add a Task</button>

    <div ng-show="vm.isInAddMode()">
      <input placeholder="Task name" ng-model="vm.currentTask.name">
      <button ng-click="vm.add()">Add</button>
      <button ng-click="vm.cancel()">Cancel</button>
    </div>

    <!-- tasks -->

    <div ng-repeat="task in vm.list.tasks | orderBy: '$index'">
      <div ng-show="vm.isInReadMode(task.id)">
        <p>
          {{ $index + 1 }}: {{ task.name }} - completed: {{ task.complete }}
        </p>
  
        <!-- task options -->
    
        <button ng-click="vm.startEdit(task.id)">Edit</button>
        <button ng-click="vm.startRemove(task.id)">Delete</button>
  
        <!-- end of task options -->
      </div>

      <!-- edit task -->

      <div ng-show="vm.isInEditMode(task.id)">
        <input placeholder="Task name" ng-model="vm.currentTask.name">
        <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="vm.currentTask.complete">
        <button ng-click="vm.save()">Save</button>
        <button ng-click="vm.cancel()">Cancel</button>
      </div>

      <!-- delete task -->

      <div ng-show="vm.isInRemoveMode(task.id)">
        <p>
          {{ task.name }} - completed: {{ task.complete }}
        </p>
        <button ng-click="vm.remove(task.id)">Confirm</button>
        <button ng-click="vm.cancel()">Cancel</button>
      </div>

    </div>



  </div>

  <script src="./js/angular.js"></script>
  <script src="./js/app/app.js"></script>
  <script src="./js/app/list/list.controller.js"></script>
</body>
</html>